body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

a:hover {
  text-decoration: none;
}

.popover-title {
    word-break: break-all;
}

.popover-content img {
    max-width: 100%;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

.table>tbody>tr>td {
    word-break: break-all;
}

.table-responsive {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

form > div.col-sm-6 {
    padding: 0;
}

form label.full-width {
  width: 100%;
}

.confirm-del {
  cursor: pointer;
}

.hidden {
  display: none;
}

.popover hr {
  margin: 0.5em 0;
}

.popover .additional-icon {
  border-right: 1px solid;
  padding-right: 5px
}

.col-other {
  min-width: 100px;
}

.navbar .glyphicon {
  margin-right: 5px;
}

.navbar-brand {
  font-size: 1em;
}
